/*** A W A R D S ***/
 /* Containers */
 .slick-slider { 
   width: 100%;
   height: 420px;
   overflow: visible;
   /*
   min-width: 400px;
   min-height: 300px;
   border:#FF0000 solid 1px;*/
}

.slider > div {
	/*border:#00FF00 solid 1px;*/
	text-align: center;
}
.slick-track{
    width: auto;
    height: auto;
    position: relative;
    top: 50px;
}
.slick-list {
    width: auto;
    height: 50%;
	 min-height:300px;
}
.slick-slide {
   z-index: 10;
   float:left;
   width: 100%;
   min-width: 200px;
   height: 50%;
   min-height:150px;
   transition: all ease-in-out 0.2s;
   transition-delay: 0.4s;
   opacity: .0;
   cursor: move; /* fallback if grab cursor is unsupported */
   cursor: grab;
   cursor: -moz-grab;
   cursor: -webkit-grab;
}
.slick-active {
    opacity: 0.5;
}
.slick-current {
    transform: scale(1.2) translateY(-50px);
    transition: all ease-in-out 0.3s;
    opacity: 1!important;
}

/* slide content styling */
.slick-slide img {
    width: 80%;

}
.slick-slide .title {
   display:none;
   text-transform: uppercase;
   font-size: 22px;
   line-height: 20px; 
   font-weight: 400;
   color: #FFFFFF;
   padding-bottom:10px;
   
}
.slick-slide .text {
   display:none;
   font-size: 14px;
   line-height: 14px; 
   font-weight: 100;
   color: #FFFFFF;
}
.slick-current .title {
    display: inline-block;
    width: 88%;
    margin-left:4%;
    /*border: #FF0000 solid 1px;*/
}
.slick-current  .text {
    display: inline-block;
    width: 88%;
    margin-left:4%;
}
.slick-current img {
    width: 110%;
	max-width: 320px;
}

/** Buttons **/
.slick-next {
   position: absolute;
   right:5%;
   top:50%;
   min-width:30px;
   height: 55px;
   background-size: contain;
   outline: none;
   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
   background-repeat: no-repeat;
   background-position: right;
   cursor: pointer;
	z-index: 100;
}
.slick-prev{
   position: absolute;
   left:5%;
   top:50%;
    min-width:30px;
    height: 55px;
    background-size: contain;
    outline: none;
    background-image:  url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
    background-repeat: no-repeat;
    background-position: left;
    cursor: pointer;
	 z-index: 100;
}

/* responsive */

@media (min-width: 1048px) {
   .slick-current .title,  .slick-current .text  {
    width: 96%;
    margin-left:4%;
    /*border: #00FF00 solid 1px;*/
   }
}